* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/* setup background, fonts */

body {
	background-color: #FCF3E7;
}

#container {
	margin: auto;
	width: 90%;
}

p {
	font-family: 'Muli', sans-serif;
	font-size: 18px;
}

p.introText {
	font-weight: bolder;
}

h1 {
	font-family: 'Bubblegum Sans', cursive;
	font-size: 28px;
	text-align: center;
}

h2 {
	font-family: 'Bubblegum Sans', cursive;
	font-size: 24px;

}

/* style pets section */

#pets {
	padding: 20px;
	border-bottom: 5px solid black;
	background-color: #f6ddbc;
}

ul p {
	font-size: 16px;
}

#pets img {
	max-width: 180px;
	float: right;
}


/* style big cats section */

#bigCats {
	padding: 20px;
	background-color:  #f3d1a5;
	border-bottom: 5px solid black;
}

#flexBox2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#flexBox2 > article {
	padding: 20px;
	width: 240px;
}

article p {
	font-size: 16px;
}


#bigCats article img {
	width: 100%;
}

#bigCats article {
	border: 1px solid black;
	margin: 2px;
}

/* style fictional felines section */

#fictionalFelines {
	padding: 20px;
	background-color: #f0c68f;
	border-bottom: 5px solid black;
}

#flexBox3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}

#flexBox3 > .catImage {
	width: 130px;
	padding: 10px;
}

#flexBox3 img {
	width: 80%;
}

#flexBox3 p {
	text-align: center;
}




@media (max-width: 435px) {
	#pets img {
		max-width: 120px;
	}

}