* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background-color: #FCF3E7;
}

#container {
	margin: auto;
}

p {
	font-family: 'Muli', sans-serif;
	font-size: 18px;

}

h1 {
	font-family: 'Bubblegum Sans', cursive;
	font-size: 28px;
	text-align: center;
}

h2 {
	font-family: 'Bubblegum Sans', cursive;
	font-size: 24px;

}

#pets {
	padding: 20px;
	background-image: url("../img/cat1.png");
	background-size: 35%;
	background-repeat: no-repeat;
	background-position: right bottom;
	border-bottom: 5px solid black;
	background-color: #f9e8d2;
}

ul p {
	font-size: 16px;
}



/* media query up to 399 px */

@media ( max-width: 399px) {
	#container {
		background-color: green;
	}
}

/* media query 400 - 500px */

@media (min-width: 400px) and (max-width: 599px) {
	#container {
		width: 90%;
	}
	#wideRightMargin3 {
		margin-right: 20%;
	}
}

@media (min-width: 600px) {
	#container {
		width: 80%;
	}
	#wideRightMargin2, #wideRightMargin3 {
		margin-right: 25%;
	}
}

@media (min-width: 975px) {
	#pets li {
		margin-right: 25%;
	}
}